<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.UserMapper">

	<resultMap id="getUserMap" type="user">
		<id property="userId" column="USERID"/>
		<result property="username" column="USERNAME"/>
		<result property="password" column="PASSWORD"/>
		<result property="sex" column="SEX"/>
		<result property="dorno" column="DORNO"/>
		<result property="phone" column="PHONE"/>

	</resultMap>

	<select id="login" resultType="user">
		SELECT userid,username FROM SSusers WHERE userid=#{userId} AND password=#{password}
	</select>

	<select id="showStu" resultMap="getUserMap">
		select su.* from ssusers su,ssuser_role sur,ssroles sr where su.userid=sur.userid and sur.roleid=sr.roleid and sr.rolename=#{rolename}
	</select>

	<update id="updateStu" parameterType="cn.edu.guet.model.User" >
		UPDATE ssusers
		<trim prefix="set" suffixOverrides=",">
			<if test="userId!=null">USERID=#{userId},</if>
			<if test="username!=null">USERNAME=#{username},</if>
			<if test="password!=null">PASSWORD=#{password},</if>
			<if test="sex!=null">SEX=#{sex},</if>
			<if test="dorno!=null">DORNO=#{dorno},</if>
			<if test="phone!=null">PHONE=#{phone},</if>
		</trim>
		WHERE userId=#{userId}
	</update>

</mapper>